# GCP project configuration
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=us-central1

# Artifact Registry
AR_REPO=latam-challenge
IMAGE_NAME=latam-challenge-api

# Cloud Run service
CLOUD_RUN_SERVICE=latam-challenge-api
